* {
    margin: 0;
    padding: 0;
    font-family: 'Product Sans', 'Helvetica', 'Arial', sans-serif;
}

.container {
    max-width: 1280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    position: relative;
}

body {
    background: #ededed;
    margin: 50px 0;
    min-width: 320px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

/*header*/

.header-block {
    height: 55px;
    width: 100%;
    background: #2E3746;
    border-radius: 6px 6px 0 0;
    visibility:
}

/*header end*/

/*main*/

/*main intro*/

.intro {
    margin: 0 auto;
}

.intro .container {
    display: block;
    background: #000;
}

.videoIntro {
    width: 100%;
    height: 100%;
    display: block;
    max-height: 450px;
    -webkit-filter: contrast(115%);
    filter: contrast(115%);
    -webkit-transition: all 1s;
    transition: all 1s;
}


.video-controls {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

.intro-controls {
    background: url(../gif/intro_gif.gif) center center;
    background-size: cover;
}

.intro-controls:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 55, 70, .6);
}

.audio-control {
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.65;
    -webkit-transition: .4;
    transition: .4;
    cursor: pointer;
    outline: none;
}

.audio-control img {
    width: 32px;
    height: 32px;
}

.audio-control:hover {
    opacity: 1;
}

.play-button {
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: .4;
    transition: .4;
}

.play-button img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    opacity: 0.65;
}

.play-button img {
    opacity: .65;
}

.play-button img:hover {
    opacity: 1;
}

.yt-control {
    width: 15%;
    height: 70px;
    min-width: 140px;
    position: absolute;
    bottom: 2%;
    right: 1.5%;
    opacity: 0.65;
    -webkit-transition: .4;
    transition: .4;
}

.yt-control:hover {
    opacity: 1;
}

/*main intro end*/

/*main info-block*/

.info-block .container {
    background: #fff;
    padding: 100px 0;
}

.info-block h1 {
    color: #2E3746;
    font-size: 25px;
    padding-bottom: 25px;
    font-weight: 600;
    text-align: center;
}

.info-block p {
    width: 80%;
    font-size: 19px;
    color: #808080;
    text-align: center;
    line-height: 32px;
}

.info-block .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*main info-block end*/

/*main img-block*/

.img-block .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #2e3746;
}

.item-block {
    width: 50%;
    -ms-flex-item-align: center;
    align-self: center;
    color: #fff;
}

.item-block img {
    width: 100%;
    height: 100%;
    display: block;
}

.item-block h2 {
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 26px;
}

.item-block p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #808080;
}

.item-block h2,
.item-block p {
    margin: 0 auto;
    width: 80%;
}

/*main img-block end*/

/*main last-video*/

.end-video .container {
    display: block;
}

.play-button-end {
    top: 48%;
}

.videoEnd {
    background: #000;
}

/*main last-video end*/

/*main end*/

/*footer*/

.footer-block {
    width: 100%;
    height: 80px;
    background: #2E3746;
    border-radius: 0 0 6px 6px;
}

/*footer end*/
