.articles-page{
    padding: 100px 0;
}

.articles-page .container{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.articles-page .article{
    width: 100%;
    margin: 10px auto;
    max-width: 900px;
    padding: 15px 15px 25px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    
}
.article_container{
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    padding-bottom: 15px;
}



.articles-page .article h4{
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    color: #555;
    font-weight: 600;
    margin-bottom: 14px;
}

.articles-page .article p{
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
    text-indent: 32px;
}
.articles-page .article .readmore_link{
    position: absolute;
    display: block;
    bottom: 0;
    width: 96%;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #fff), to(transparent));
    background: -webkit-linear-gradient(bottom, #fff 60%, transparent);
    background: -moz-linear-gradient(bottom, #fff 60%, transparent);
    background: -o-linear-gradient(bottom, #fff 60%, transparent);
    background: linear-gradient(to top, #fff 60%, transparent);
    padding-top: 25px;
    padding-bottom: 5px;
}

@media (max-width: 992px){
    .articles-page{
        padding: 30px 0;
    }
}