.pictures-page{
    padding: 120px 0;
}
.pictures-page .container{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    text-align: center;
}

.pictures-page .pictures-page__header{
    width: 100%;
    font-size: 52px;
    font-weight: 800;
    text-transform: uppercase;
    color: #f73961;
    font-family: "Raleway", sans-serif;
    margin-bottom: 25px;
}

.pictures-page .picture-card{
    text-align: left;
    width: 30%;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 16px;
    overflow: hidden;
    padding-bottom: 15px;
}

.pictures-page .picture-card img{
    max-height: 220px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.pictures-page .picture-card h4, .pictures-page .picture-card p{
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Raleway", sans-serif;
}
.pictures-page .picture-card h4{
    padding-top: 6px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}
.pictures-page .picture-card p{
    font-size: 18px;
}

@media (max-width: 992px){
    .pictures-page{
        padding: 40px 0;
    }
    .pictures-page .picture-card{
        width: 46%;
    }
}

@media (max-width: 580px){
    .pictures-page .picture-card{
        width: 100%;
        margin-bottom: 25px;
    }
}