body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 120px;
}
header{
    position: fixed;
    height: 100px;
    top: 0;
    background: yellow;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header button, header input[type=checkbox]{
    width: 35px;
    position: absolute;
    padding: 0;
    top: 50%;
    transform: translateY(-50%)
}
header input[type=checkbox]{
    z-index: 1;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
    height: 28px;
    opacity: 0;
}
header input[type="checkbox"]:hover{
    cursor: pointer;
}
header input[type="checkbox"]:checked+button span:nth-child(1){
    transform: translate(-4px,9px) rotate(45deg);
}
header input[type="checkbox"]:checked+button span:nth-child(2){
    opacity: 0;
}
header input[type="checkbox"]:checked+button span:nth-child(3){
    transform: translate(-4px,-9px) rotate(-45deg);
}
header button{
    background: none;
    border: none;
    margin-left: 30px;
}
header button span{
    display: block;
    width: 100%;
    height: 4px;
    margin-bottom: 5px;
    background: #000;
    transition: all .6s ease;
}

header input[type="checkbox"]:checked + button + ul li{
    transform: none;
}
header input[type="checkbox"]:checked + button + ul{
    background: yellow;
}

header ul{
    padding: 0;
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .6s ease-in;
}
header ul li{
    list-style: none;
    width: 100%;
    text-align: center;
    background: red;
    transition: all .6s ease-in-out;
}

header ul li:nth-child(even){
    background: yellow;
    transform: translateX(-100%);
}
header ul li:nth-child(odd){
    background:yellow;
    transform: translateX(+100%);
}
header ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    line-height: 2;
    color:#000;
}
main{
}
main p{
    max-width: 300px;
    margin: 0 auto;
}
