* {
    margin: 0;
    padding: 0;
}

.section {
    opacity: .7;
}

.section p {
    font-size: 120px;
}

.bottle-block {
    background: url(../img/bottle.png) 50% 50% no-repeat;
    background-size: contain;
    position: fixed;
    z-index: 1;
    width: 30%;
    transform: translateX(215%) translateY(0%) scale(3);
    height: 100vh;
/*    border: 2px dotted black;*/
    transition: all 1s;
}
